.aircraft-item {
    height: 70px;
    padding: 10px;
    text-align: center;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    margin: 15px;
    background-color: white;
}

.aircraft-item .header-text {
    font-size: 14px;
    margin-top: 5px;
}

.utilization-text {
    font-weight: bold;
    font-size: 15px;
    margin-top: 15px;
}