.aircraft-list {
    width: 15%;
    height: 500px;
    background-color: #15becb;
    border-radius: 4px;
    box-shadow: 0 0 3px grey;
}

.aircraft-header {
    font-size: 14px;
    font-weight: bolder;
    margin-top: 10px;
}